/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #5978a5;
  --card-bg-03: #569b96;
  --card-bg-04: #cef06a;
  --primary-color: hsl(215, 88%, 19%);
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 80%;
  height: 80%;
}

section {
  padding: 60px 0px ;
}
.section__title {
  color: var(--primary-color);
  font-weight: 600;
}

@media screen and (max-width: 1024) {
  .timer__count img {
    display: none;
      
  }
}
@media only screen and (max-width: 768px) {
 .hero__img {
  width: 100%;
  height: 80%;
  margin-top: 2rem;
 }
 .timer__img {
  display: none;
 }
 .hero__content h2 {
  font-size: 1.6rem;
}
.hero__content p {
  font-size: 0.9rem;
}
.buy__btn{
  font-size: 0.9rem;
}
.section__title {
  font-size: 1.4rem;
}
.clock__top-content {
  text-align: center;
}

.clock__top-content h4 {
  font-size: 0.9rem !important;
}
.clock__top-content h3 {
  font-size: 1rem !important;
}
.count__down-col {
  text-align: center;
  display: inline-block;
}
}